---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<span
  class="text-muted-foreground flex items-center gap-1.5 text-sm lg:text-base"
>
  <CalendarIcon class="size-3.5 shrink-0 lg:size-4" />
  <time datetime={date}>{getFormattedDate(date)}</time>
</span>
