---
import LinkIcon from "@/components/icons/LinkIcon.astro";

interface Props {
  deployment: {
    label: string;
    url: string;
  };
}

const { deployment } = Astro.props;
---

<li>
  <a
    href={deployment.url}
    target="_blank"
    class="group flex flex-row items-center gap-2"
  >
    <LinkIcon
      class="stroke-muted group-hover:stroke-secondary size-5 lg:size-6"
    />
    <span
      class="text-muted group-hover:text-secondary text-base leading-none font-medium underline-offset-4 group-hover:underline lg:text-lg lg:leading-none"
    >
      {deployment.label}
    </span>
  </a>
</li>
