---
import ChevronLeftIcon from "@/components/icons/ChevronLeftIcon.astro";

interface Props {
  href: string;
  label?: string;
}

const { href, label = "Back" } = Astro.props;
---

<a
  href={href}
  class="group text-primary hover:text-primary/80 flex w-fit items-center gap-1 transition-all"
>
  <ChevronLeftIcon
    class="size-5 transition-transform group-hover:-translate-x-0.5"
  />
  <span class="text-base leading-none font-medium">{label}</span>
</a>
