---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<li class="flex flex-row items-center gap-2">
  <CalendarIcon class="size-5 stroke-muted lg:size-6" />

  <time
    datetime={date}
    class="text-base font-medium leading-none text-muted lg:text-lg lg:leading-none"
  >
    {getFormattedDate(date)}
  </time>
</li>
