---
import ChevronLeftIcon from "@/components/icons/ChevronLeftIcon.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

{/* Back Button */}
<a
  href={href}
  class="text-primary hover:text-primary/90 flex items-center gap-1 transition-all"
>
  <ChevronLeftIcon class="size-5" />
  <span class="text-base leading-none font-medium">Back</span>
</a>
