---

---

{/* Before css pseudoclass to animate gradient transition */}
<div
  class="relative flex flex-auto flex-col gap-2 bg-card p-4 before:absolute before:inset-0 before:z-10 before:bg-gradient-to-b before:from-primary/35 before:to-primary/5 before:opacity-0 before:transition-all before:duration-200 before:content-[''] group-hover/card:before:opacity-100 lg:p-5"
>
  <slot />
</div>
