---
import LinkIcon from "@/components/icons/LinkIcon.astro";

interface Props {
  deployment: {
    url: string;
    label: string;
  };
}

const { deployment } = Astro.props;
---

<li class="group/deploy">
  <a
    href={deployment.url}
    aria-label={deployment.label}
    target="_blank"
    class="relative z-40 flex size-7 transition-all duration-200 group-hover/deploy:scale-110 lg:size-8"
  >
    <LinkIcon
      class="size-full stroke-muted group-hover/deploy:stroke-secondary"
    />
  </a>
</li>
