---
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import { getFormattedDate } from "@/lib/utils";

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<div class="z-20 flex flex-row items-center gap-2">
  <CalendarIcon class="stroke-secondary size-5" />

  <time datetime={date} class="text-secondary text-sm font-medium lg:text-base">
    {getFormattedDate(date)}
  </time>
</div>
