---
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import GitLabOutlineIcon from "@/components/icons/GitLabOutlineIcon.astro";

interface Props {
  repository: {
    url: string;
    label: string;
  };
}

const { repository } = Astro.props;
---

<li class="group/repo">
  <a
    href={repository.url}
    aria-label={repository.label}
    target="_blank"
    class="relative z-40 flex size-7 transition-all duration-200 group-hover/repo:scale-110 lg:size-8"
  >
    {
      repository.url.startsWith("https://gitlab.com") ? (
        <GitLabOutlineIcon class="size-full stroke-muted group-hover/repo:stroke-secondary" />
      ) : (
        <GitHubIcon class="size-full fill-muted group-hover/repo:fill-secondary" />
      )
    }
  </a>
</li>
