---
interface Props {
  href: string;
  ariaLabel: string;
}

const { href, ariaLabel } = Astro.props;
---

<article
  class="group/card border-border bg-card hover:drop-shadow-primary relative z-10 flex h-full w-full max-w-xs flex-col overflow-hidden rounded-xl border transition-[filter,--tw-drop-shadow] duration-200 lg:max-w-sm"
>
  {/* Card anchor, cannot nest anchor element so use absolute posititoning */}
  <a href={href} aria-label={ariaLabel} class="absolute inset-0 z-30"> </a>

  {/* Card contents */}
  <slot />
</article>
