---
import { Image } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  class?: string;
}

const { src, alt, class: className } = Astro.props;
---

<div
  class:list={[
    "flex aspect-square size-12 shrink-0 items-center justify-center overflow-hidden rounded-lg bg-white lg:size-14",
    className,
  ]}
>
  <Image
    class="flex h-auto w-full items-center justify-evenly object-contain text-xs font-medium text-black transition-transform duration-700 group-hover/card:scale-[1.03]"
    src={src}
    alt={alt}
    widths={[48, 56, 96, 112]}
    sizes="(max-width: 1023px) 48px, 56px"
    inferSize
  />
</div>
