---
import PillRepository from "@/components/ui/pill/PillRepository.astro";
import PillDeployment from "@/components/ui/pill/PillDeployment.astro";

interface Props {
  repositoryLinks?: { url: string; label: string }[] | null;
  deploymentLinks?: { url: string; label: string }[] | null;
  class?: string;
}

const {
  repositoryLinks: repositoryLinksProp,
  deploymentLinks: deploymentLinksProp,
  class: className,
} = Astro.props;
const repositoryLinks = repositoryLinksProp ?? [];
const deploymentLinks = deploymentLinksProp ?? [];
const hasRepositoryLinks = repositoryLinks.length > 0;
const hasDeploymentLinks = deploymentLinks.length > 0;
---

{
  (hasRepositoryLinks || hasDeploymentLinks) && (
    <div class:list={["pointer-events-none flex flex-wrap gap-2", className]}>
      {repositoryLinks.map((repo) => (
        <PillRepository repository={repo} class="relative z-40" />
      ))}
      {deploymentLinks.map((deploy) => (
        <PillDeployment deployment={deploy} class="relative z-40" />
      ))}
    </div>
  )
}
