---
import type { Props as $, TypedObject } from "astro-portabletext/types";
import ZoomableImage from "@/components/image/zoomable-image.astro";

type Props = $<TypedObject> & {
  node: {
    url: string;
    alt: string;
    caption: boolean;
  };
};

const props = Astro.props;
---

<div class="mb-5 flex justify-center lg:mb-6">
  <figure class="table">
    {
      /* Max image width is container width, image height will adjust according to original aspect ratio */
    }
    <ZoomableImage
      class="flex h-auto max-w-full items-center justify-evenly rounded-lg bg-card object-cover object-center text-base font-medium text-secondary"
      src={props.node.url}
      alt={props.node.alt}
      widths={[370, 768, 1280]}
      sizes="(max-width: 640px) 370px, (max-width: 1024px) 768px, 1280px"
      inferSize
    />

    {
      props.node.caption && (
        <figcaption class="mt-1 table-caption caption-bottom text-center text-base font-medium text-secondary lg:mt-2 lg:text-lg">
          {props.node.alt}
        </figcaption>
      )
    }
  </figure>
</div>
