---
import type { Props as $, TypedObject } from "astro-portabletext/types";
import ZoomableImage from "@/components/ui/image/zoomable-image.astro";

type Props = $<TypedObject> & {
  node: {
    url: string;
    alt: string;
    caption: boolean;
  };
};

const props = Astro.props;
---

<div class="mb-5 flex justify-center lg:mb-6">
  <figure
    class="border-border bg-muted table overflow-hidden rounded-lg border"
  >
    {
      /* Max image width is container width, image height will adjust according to original aspect ratio */
    }
    <ZoomableImage
      class="bg-muted text-muted-foreground flex h-auto max-w-full items-center justify-evenly rounded-lg object-cover object-center text-base font-medium"
      src={props.node.url}
      alt={props.node.alt}
      widths={[576, 768, 1152, 1280, 1440]}
      sizes="(max-width: 1023px) 576px, 768px"
      inferSize
    />

    {
      props.node.caption && (
        <figcaption class="text-muted-foreground mt-1 table-caption caption-bottom text-center text-base font-medium lg:mt-2 lg:text-lg">
          {props.node.alt}
        </figcaption>
      )
    }
  </figure>
</div>
