---
import LayoutBase from "@/layouts/LayoutBase.astro";
---

<LayoutBase
  title="Error 404 | Dewantoro Triatmojo"
  description="The page you're looking for doesn't exists. You can go back to home page or double-check the URL to make sure it's correct."
>
  <main
    class="flex flex-auto items-center justify-center px-5 py-12 sm:p-12 lg:p-16"
  >
    <section
      class="flex max-w-xl flex-col items-center gap-4 text-center lg:gap-6"
    >
      <div class="flex flex-col gap-2 lg:gap-4">
        <h1 class="text-secondary text-3xl font-bold lg:text-5xl">
          Error 404: Not Found
        </h1>
        <p class="text-muted text-base lg:text-lg">
          The page you're looking for doesn't exists. You can go back to home
          page or double-check the URL to make sure it's correct.
        </p>
      </div>
      <a
        href="/"
        class="bg-primary text-secondary hover:bg-primary/90 flex w-fit rounded-lg px-8 py-4 text-base leading-none font-medium transition-colors duration-200"
      >
        Home Page
      </a>
    </section>
  </main>
</LayoutBase>
