---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { fetchSanityData, homeDetailQuery } from "@/lib/query";
import type { HomeDetailQueryResult } from "@/types/sanity";
import CustomPortableText from "@/components/ui/portable-text/CustomPortableText.astro";

// TO DO: Get data from CMS
const data = await fetchSanityData<HomeDetailQueryResult>(homeDetailQuery);
if (!data) {
  throw new Error("Home data not found");
}
---

<Layout title="Dewantoro Triatmojo">
  <main
    class="flex flex-auto items-center justify-center px-3 py-12 sm:p-12 lg:p-16"
  >
    <section
      class="flex flex-col items-center gap-4 sm:flex-row-reverse sm:gap-8 lg:gap-16 xl:gap-24"
    >
      {/* My Photo */}
      <Image
        class="size-64 rounded-full border-2 border-border lg:size-96"
        src={data.image.url!}
        alt={data.image.alt}
        widths={[256, 384]}
        sizes="(max-width: 1024px) 256px, 384px"
        inferSize
      />

      {/* Texts */}
      <div
        class="flex max-w-xs flex-col gap-2 text-center sm:max-w-sm sm:text-start lg:max-w-lg lg:gap-4"
      >
        {/* Content Title + Paragraph */}
        <CustomPortableText value={data.content} />
      </div>
    </section>
  </main>
</Layout>
