---

---

<div
  class="border-border bg-card text-secondary hover:drop-shadow-primary-sm hover:bg-primary/35 flex flex-row items-center gap-2 rounded-full border px-4 py-2 text-sm leading-none font-semibold transition-[filter,--tw-drop-shadow,background-color,border-color] duration-200 hover:border-transparent"
>
  <slot />
</div>
