---

---

<div
  class="border-border bg-card text-secondary hover:bg-primary/35 flex flex-row items-center gap-2 rounded-full border px-4 py-2 text-sm leading-none font-semibold transition-colors duration-200 hover:border-transparent"
>
  <slot />
</div>
