---

---

{/* use has-[+ol/ul] to prevent margin if next element is ol or ul */}
<p
  class="text-muted mb-5 text-base break-words has-[+ol]:mb-0 has-[+p>.katex-display]:mb-0 has-[+ul]:mb-0 lg:mb-6 lg:text-lg lg:has-[+ol]:mb-0 lg:has-[+p>.katex-display]:mb-0 lg:has-[+ul]:mb-0"
>
  <slot />
</p>
