---
import "@fontsource-variable/inter";
import Navbar from "@/components/ui/Navbar.astro";
import SocialBar from "@/components/ui/SocialBar.astro";
import Head from "@/components/head/Head.astro";

interface Props {
  title: string;
  description: string;
  linkPreviewImage?: {
    url: string | null;
    alt: string;
  };
}

const { title, description, linkPreviewImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  {/* Common Head */}
  <Head
    title={title}
    description={description}
    linkPreviewImage={linkPreviewImage}
  />

  {/* Body Content */}
  <body class="flex min-h-screen flex-col bg-background font-inter">
    {/* Navbar */}
    <Navbar />

    {/* Content */}
    <slot />

    {/* Footer */}
    <SocialBar />
  </body>
</html>
