---
import "../styles/global.css";
import Navbar from "@/components/ui/Navbar.astro";
import SocialBar from "@/components/ui/SocialBar.astro";
import Head from "@/components/head/Head.astro";

interface Props {
  title: string;
  description: string;
  linkPreviewImage?: {
    url: string | null;
    alt: string;
  };
}

const { title, description, linkPreviewImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  {/* Common Head */}
  <Head
    title={title}
    description={description}
    linkPreviewImage={linkPreviewImage}
  />

  {/* Body Content */}
  <body
    class="bg-background flex min-h-screen flex-col overflow-x-hidden pt-[74px] pb-[78px] font-sans antialiased sm:pt-[66px]"
  >
    {/* Navbar */}
    <Navbar />

    {/* Content */}
    <slot />

    {/* Footer */}
    <SocialBar />

    {/* Section-triggered animations */}
    <script>
      const prefersReducedMotion = window.matchMedia(
        "(prefers-reduced-motion: reduce)",
      ).matches;

      const sections = document.querySelectorAll<HTMLElement>(
        "[data-scroll-section]",
      );

      if (prefersReducedMotion) {
        document
          .querySelectorAll<HTMLElement>("[data-scroll]")
          .forEach((el) => (el.style.opacity = "1"));
      } else {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                const section = entry.target as HTMLElement;
                section
                  .querySelectorAll<HTMLElement>("[data-scroll]")
                  .forEach((el) => {
                    el.classList.add(`animate-${el.dataset.scroll}`);
                  });
                observer.unobserve(section);
              }
            });
          },
          { threshold: 0.2 }, // 20% section
        );
        sections.forEach((section) => observer.observe(section));
      }
    </script>
  </body>
</html>
