---
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro";
import InstagramIcon from "@/components/icons/InstagramIcon.astro";
import EmailIcon from "@/components/icons/EmailIcon.astro";
import SpotifyIcon from "@/components/icons/SpotifyIcon.astro";
import GitLabIcon from "../icons/GitLabIcon.astro";

interface SocialMedia {
  name: string;
  url: string;
  icon: any;
  className?: string;
}

const socialMedia: SocialMedia[] = [
  {
    name: "GitHub",
    url: "https://github.com/dewodt",
    icon: GitHubIcon,
  },
  {
    name: "GitLab",
    url: "https://gitlab.com/dewodt",
    icon: GitLabIcon,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/dewantoro-triatmojo/",
    icon: LinkedInIcon,
  },
  {
    name: "Email",
    url: "mailto:dewantorotriatmojo@gmail.com",
    icon: EmailIcon,
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/dewo.tm/",
    icon: InstagramIcon,
  },
  {
    name: "Spotify",
    url: "https://open.spotify.com/user/0p89rcit1qulphp6uzgsi0tto",
    icon: SpotifyIcon,
  },
];
---

<!-- Bottom blur -->
<div
  class="from-background pointer-events-none fixed inset-x-0 bottom-0 z-30 h-12 w-full bg-gradient-to-t to-transparent backdrop-blur-lg [-webkit-mask-image:linear-gradient(to_top,black,transparent)]"
>
</div>

<!-- Bar -->
<!-- Note: When using sticky bottom the anchor link is misplaced in mobile firefox (because of the top search browser bar). Alternatively, use fixed with margin to overcome this issue.--><!-- Blur -->
<div class="mt-[calc(66px+24px)]"></div>
<ul
  class="border-border bg-card-darker fixed bottom-6 left-1/2 z-30 flex -translate-x-1/2 flex-row items-center justify-center gap-1 rounded-full border p-2 lg:gap-2"
>
  {
    socialMedia.map((social) => (
      <li>
        <a
          href={social.url}
          aria-label={social.name}
          target="_blank"
          class="group flex size-12 rounded-full p-2 transition-transform duration-200 hover:scale-[1.175]"
        >
          {<social.icon class:list={["size-full", social.className]} />}
        </a>
      </li>
    ))
  }
</ul>
